{% extends "home/layout.html" %}
{% load static %}

{% block styles%}
  <style>
        .search-bar {
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
    }

    .search-input {
        width: 100%;
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 20px; /* Rounded corners */
        font-size: 16px;
        outline: none;
    }

    .search-button {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 20px; /* Rounded corners */
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .search-button:hover {
        background-color: #0056b3;
    }

    /* Style for the SVG icon */
    .search-icon {
        fill: #fff; /* Icon color */
        width: 20px;
        height: 20px;
        margin-right: 10px; /* Spacing between icon and input */
    }
     #link{
      text-decoration: none;
      color:gray;
    }
    

    #topbox{
      background-color: white;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 8px;
    }
    #topbox :hover{
      color: lightskyblue;
    }
    
    #databox{
      
      background-color: white;
      width: 70%;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    
    
    
    
      
    }
  </style>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content%}
  {% if results %}
    {% for result in results %}
      <div><h4>{{result}}</h4></div>
    {% endfor %}
  {% endif %}
  
  

  <div style="display: flex; justify-content: center;"> 
    <form action="{% url 'search' %}" method="post">
      {% csrf_token %}
      <div class="container ">
        <div class="search-bar" style="display: inline-block;">      
          <input type="text" class="search-input" name="search_term" placeholder="Search">
          <button type="submit" class="search-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
          </button>
        </div>
      </div>
    </form>
  </div>
  
  {% for item in tickers %}
  <a id="link" href="{% url 'details' item.id %} ">
    <div id="topbox" class="">
      <div  id="databox"class="">    
         {{item.title}}
      </div>
    </div>
  </a>

  
  {% endfor %}
  
{% endblock %}
