{% extends "home/layout.html" %}
{% load static %}

{% block styles%}
  <style>
    #top
    {
        border: solid 0.25px lightgray; 
        border-radius: 12px;
        margin-top: 5px;
    }
    #data
    {
        display: block;
    }
    
    #link{
      text-decoration: none;
      
      color: rgb(148, 147, 147);
    }
    #link:hover
    {
      #title{
        color: skyblue;
      }
      #top{
        border: solid 0.40px skyblue;
      }
    }
  </style>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content%}
  {% if results %}
    {% for result in results %}
    <a id="link" href="{% url 'details' result.id %} ">
      <div id="topbox" class="">
        <div  id="databox"class="">    
           <h3> {{result.title}} </h6>
        </div>
      </div>
    </a>
    {% endfor %}
  {% endif %}

{% endblock %}
